<%-include "partials/header">
<div class="container mx-auto p-8">
    <h2 class="text-2xl font-bold mb-4">Bienvenido a mi sitio web</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
</div>

<%-include "partials/footer">