<%-include ("partials/header") %>

<form ref="uploadForm" id="uploadForm" action="" method="post" encType="">
  <input type="file" name="sampleFile" class="w-full p-2 border rounded-md" placeholder="" />
  <input type="submit" value="Upload" class="w-full p-2 bg-blue-500 text-white rounded-md" />
</form>

<%-include ("partials/footer") %>